<!doctype html>
<html lang="pt-br" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Os corre do dia</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
  </head>
  <body>

    <div class="todo" ng-controller="TodoController as todo">
      <form class="todo__form" ng-submit="todo.addTodo()">
        <input type="text" placeholder="Digita os bang que vc tem pa faze" ng-model="todo.newTodo">
      </form>
      <ul class="todo__list">
        <li ng-repeat="item in todo.list">
          <input id="todo-{{$index}}" type="checkbox" ng-model="item.completed">
          <label class="toggle" for="todo-{{$index}}"></label>
          <p ng-dblclick="showEditField = true" ng-hide="showEditField">
            {{item.title}}
          </p>
          <div ng-show="showEditField">
            <input
              type="text"
              ng-model="item.title"
              ng-blur="showEditField = false">
          </div>
          <a href="" ng-click="todo.removeTodo(item, $index)">
            &#215;
          </a>
        </li>
      </ul>
      <p class="todo__remaining">
        <span ng-hide="todo.getRemaining().length === 0">
          tu tem uns {{todo.getRemaining().length}} de {{todo.list.length}} bang pa faze
        </span>
        <span ng-show="todo.getRemaining().length === 0">
          Cêé o bixaum memo hen doido!
        </span>
      </p>
    </div>
    <small>*clica duas vez pa edita</small>


  <script src="js/app.js"></script>
  <script src="js/todo.controller.js"></script>
  </body>
</html>
